<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>crypto</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.min.js"></script>
    <script src="d3.v4.min.js"></script>
    <script src="semantic.min.js"></script>
    <link rel="stylesheet" href="semantic.min.css">
    <script type="text/javascript">
      var initial_time_periods = 400
      var currency = 'bitcoin'
      var socket = io.connect('http://localhost:8080');
      socket.emit('req price n periods', {currency : currency, periods : initial_time_periods})
      // socket.emit('req ema n periods', {currency : 'bitcoin', periods : initial_time_periods})

    </script>
  </head>
  <body>



    <div class="ui internally celled grid">
      <div class="row">
        <div class="three wide column">
          <img>
        </div>
        <div class="ten wide column">
          <div  class="ui center aligned container" style="width:100%;padding:5%;">


            <div id="00_seg" class="ui segment display_seg" style="width:100%;">

               <h4 style="display:inline;" id="current_currency_text" class="current_currency_text">bitcoin</h4>

              <div class="ui four top attached buttons">
                  <div class="ui active button price_button 00_button" funx="price">price</div>
                  <div class="ui button ema_button 00_button" funx="ema">EMA</div>
                  <div class="ui button sma_button 00_button" funx="sma">SMA</div>
                  <div class="ui button wiki_views_button 00_button" funx="wiki">Wiki Views</div>

              </div>

              <svg id="svg_00" class="00_svg display_svg" height="500"></svg>

            </div>
            <script type="text/javascript">
              let funx = {
                price : function() {
                  console.log('price called')
                  socket.emit('req price n periods', {currency : currency, periods : initial_time_periods})
                },
                ema : function() {
                  console.log('ema called')
                  socket.emit('req ema n periods', {currency : currency, periods : initial_time_periods})
                },
                sma : function() {
                  console.log('sma c alled')
                  socket.emit('req sma n periods', {currency : currency, periods : initial_time_periods})
                }
              }

              let svg_elem = document.getElementById('svg_00')
              let list_of_buttons = document.getElementsByClassName('00_button')
              for (let i = 0; i < list_of_buttons.length; i++) {
                list_of_buttons[i].addEventListener('click', function() {
                  for (let ii = 0; ii < list_of_buttons.length; ii++) {
                    list_of_buttons[ii].classList.remove('active')
                  }
                  this.classList.add('active')

                  d3.select("#svg_00")
                    .selectAll("*")
                    .remove()

                  funx[this.getAttribute("funx")]()
                })
              }
            </script>
          </div>
        </div>
        <div class="three wide column">
        </div>
      </div>

      <div class="row">
        <div class="three wide column"></div>
        <div class="ten wide column">
          <div class="ui center aligned container" style="padding:5%;width:100%;">
            <div id="01_seg" class="ui segment display_seg" style="width:100%;">
              <svg id="svg_01" class="01_svg display_svg" height="500"></svg>
            </div>
          </div>
        </div>
        <div class="three wide column"></div>
      </div>

      <div class="row">
        <div class="three wide column"></div>
        <div class="ten wide column">
          <div class="ui center aligned container" style="padding:5%;width:100%;">
            <div id="02_seg" class="ui segment display_seg" style="width:100%;">
              <svg id="svg_02" class="21_svg display_svg" height="500"></svg>
            </div>
          </div>
        </div>
        <div class="three wide column"></div>
      </div>

      <div class="row">
        <div class="three wide column"></div>
        <div class="ten wide column">
          <div class="ui center aligned container" style="padding:5%;width:100%;">
            <div id="03_seg" class="ui segment display_seg" style="width:100%;">
              <svg id="svg_03" class="03_svg display_svg" height="500"></svg>
            </div>
          </div>
        </div>
        <div class="three wide column"></div>
      </div>
    </div>

    <script type="text/javascript">
      // set the width of  the  svg according to the width of the pusher
      var width_of_seg = document.getElementById('00_seg').getBoundingClientRect().width
      let display_svgs = document.getElementsByClassName('display_svg')
      for (var i = 0; i < display_svgs.length; i++) {
        display_svgs[i].setAttribute("width", width_of_seg)
      }
    </script>


    <script type="text/javascript">
      function price_to_percent_change(price_array) {
        var percent_change_array = []
        for (let i = 0; i < price_array.length-1;i++) {
          percent_change_array.push(percent_change(price_array[i], price_array[i+1]))
        }
        let min = Math.abs(d3.min(percent_change_array))
        // shift values by min
        for (let i = 0; i < percent_change_array.length;i++) { percent_change_array[i] += min }
        return percent_change_array;
      }

      var percent_change = function(today_price, yesterday_price) {
        return ((today_price - yesterday_price)/yesterday_price)*100
      }

      var inverse_array = function(arr) {
        var arr_builder = []
        for (let i = arr.length-1; i >= 0;i--){arr_builder.push(arr[i])}
        return arr_builder
      }

      var price_array_to_reduced_price_array = function(price_array) {
        let min = d3.min(price_array)
        return price_array.map(x => x - min)
      }
    </script>


    <script type="text/javascript">

      // var time_periods = 400

      var res_price_n_periods = function(price_data, svg_appendage, time_periods) {
        var n = 4 // number of series
        var m = time_periods
        console.log('time period', time_periods)
        console.log('got price response from server')
        var xz = d3.range(m)
        xz = inverse_array(xz) // inverse
        var yz = d3.range(n).map(function() {
          return price_array_to_reduced_price_array(price_data.price_array);
        })
        var y01z = d3.stack().keys(d3.range(n))(d3.transpose(yz))
        var yMax = d3.max(yz, function(y) {
          return d3.max(y);
        })
        var y1Max = d3.max(y01z, function(y) {
          return d3.max(y, function(d) {
            return d[1];
          });
        });

        var svg = d3.select("#svg_"+svg_appendage),
            margin = {top: 10, right: 10, bottom: 10, left: 10},
            width = +svg.attr("width") - margin.left - margin.right,
            height = +svg.attr("height") - margin.top - margin.bottom,
            g = svg.append("g").attr("transform", "translate(" + 0 + "," + margin.top + ")");

        var x = d3.scaleBand()
            .domain(xz)
            .rangeRound([0, width])
            .padding(0.08);

        var y = d3.scaleLinear()
            .domain([0, y1Max])
            .range([height, 0]);

        var color = d3.scaleOrdinal()
            .domain(d3.range(n))
            .range(color_arr);

        var series = g.selectAll(".series")
          .data(y01z)
          .enter().append("g")
            .attr("fill", function(d, i) { return color(i); });

        var rect = series.selectAll("rect")
          .data(function(d) { return d; })
          .enter().append("rect")
            .attr("x", function(d, i) { return x(i); })
            .attr("y", height)
            .attr("width", x.bandwidth())
            .attr("height", 0);

        rect.transition()
            .delay(function(d, i) { return i ; })
            .attr("y", function(d) { return y(d[1]); })
            .attr("height", function(d) { return y(d[0]) - y(d[1]); });
      }
    </script>

    <script>
      var color_arr = [d3.schemeCategory20b[8], d3.schemeCategory20b[9], d3.schemeCategory20b[10], d3.schemeCategory20b[11]]

      socket.on('res price n periods', function(price_data){
        console.log(price_data)
        res_price_n_periods(price_data, "00", price_data.price_array.length)
      })

      socket.on('res ema n periods', function(price_data) {
        res_price_n_periods(price_data, "00", price_data.price_array.length)
      })

      socket.on('res sma n periods', function(price_data) {
        res_price_n_periods(price_data, "00", price_data.price_array.length)
      })
    </script>
  </body>
</html>
